.main-content {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    background-color: #DBD7D7;
    border-radius: 10px;
    width: 1100px;
    height: 600px;
    box-shadow: 1px 1px 8px black;
}