@import "./Dashboard.css";

._title {
    text-decoration: underline;
    font-family: 'Lato';
    font-size: inherit;
    font-weight: bold;
    font-size: xx-large;
}

label {
    padding-right: 10px;
    font-family: 'Lato';
    font-size: inherit;
    font-weight: bold;
    font-size: large;
}

.fieldset{
    display: flex;
    flex-direction: column;
    border: solid #000;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px darkgrey;
    margin-bottom: 10px;
    width: 400px;
    font-family: 'Lato';
    font-size: inherit;
    font-weight: bold;
    font-size: medium;
}

.btn-add-save{
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 3px darkgrey;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    /* margin: 15px 30px; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-add-save {
    background: #A93535;
    color: #122625;
  }
  
  .btn-add-save:hover {
    background: #122625;
    color: #A93535;
  }
  
  .btn-add-save:active {
    background: #122625;
    top: 2px;
  }
  
  .btn-add-save:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }

  .btn-add-edit{
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 3px darkgrey;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    /* margin: 15px 30px; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-add-edit {
    background: #A93535;
    color: #122625;
  }
  
  .btn-add-edit:hover {
    background: #122625;
    color: #A93535;
  }
  
  .btn-add-edit:active {
    background: #122625;
    top: 2px;
  }
  
  .btn-add-edit:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }

  .form-group {
      display: flex;
      flex-direction:row;
      align-items: center;
  }


