.footer {
    background-color: #DBD7D7;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding-right: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 10px;
}

.nav-footer {
    list-style-type: none;
    width: 700px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-footer a{
    font-weight: bolder;
    color: Black;
    text-decoration: none;
}

.contain-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
