

.nav__flex {
    background-color: #DBD7D7;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding-right: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 8px black;
}
.logo {
    width: 100px;

}
.nav {
    list-style-type: none;
    width: 700px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Lato';
    font-size: inherit;
    font-weight: bold;
    font-size: large;
}

.nav a{
    font-weight: bolder;
    color: Black;
    text-decoration: none;
}

.nav__button {
    font-weight: bolder;
    font-family: 'Lato';
    font-size: inherit;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: Black;
    cursor: pointer;
    border: none;
    background: #DBD7D7;
  }  